body{
    background-color: grey;
}
.head{
}
.but{
    margin-top: 30px;
}
.answ{
    margin-left: 170px;
    display: flex;
}
.whole{
    border: 4px solid;
    background-color: aliceblue;
    justify-content: center;
    width: 30%;
    height: 300px;
}
#ans{
    font-size: large;
}